<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to t("new_page"), new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("listing_pages") %></h1>

<table class="index">
  <thead>
  <tr>
    <th><%= t("title") %></th>
    <th><%= t("permalink") %></th>
    <th><%= t("published") %></th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
    <% @pages.each do |page|%>
      <tr id="<%= dom_id page %>">
        <td width="350px"><%=link_to page.title, edit_object_url(page) %></td>
        <td><%= page.permalink %></td>
        <td><%= t(page.published? ? 'yes' : 'no') %></td>
        <td>
            <%= link_to_edit page %> &nbsp;
            <%= link_to_delete page %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @pages %>
