<div data-hook="admin_page_new_form_header">
  <%= render 'spree/shared/error_messages', :target => @page %>
  <h1><%= t("new_page") %></h1>  
</div>

<div data-hook="admin_page_new_form">
  <%= form_for(:page, :url => collection_url) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>

    <div data-hook="admin_page_new_form_buttons">
      <%= render :partial => "spree/admin/shared/new_resource_links" %>
    </div>
  <% end %>
</div>
